#include <windows.h>

#if !(defined(__MINGW32__) || defined(__MINGW64__))
#include "GitRevisionInfo.h"
#endif

#pragma code_page(65001)

#ifdef _DEBUG
#define VER_FILEFLAGS   VS_FF_DEBUG
#else
#define VER_FILEFLAGS   0x0L
#endif

#ifdef _WIN64
#define VER_ORIGINALFILENAME_STR    "gamex86_64.dll"
#else
#define VER_ORIGINALFILENAME_STR    "gamex86.dll"
#endif

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

VS_VERSION_INFO VERSIONINFO
    FILEVERSION     OPENRA2_REVISION,0,0,0
    PRODUCTVERSION  OPENRA2_REVISION,0,0,0
    FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
    FILEFLAGS       VER_FILEFLAGS
    FILEOS          VOS_NT_WINDOWS32
    FILETYPE        VFT_DLL
    FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "Comments", "https://packetflinger.com/openra2/"
            VALUE "CompanyName", "packetflinger.com"
            VALUE "FileDescription", "Open Source Rocket Arena mod for Quake 2"
            VALUE "OriginalFilename", VER_ORIGINALFILENAME_STR
            VALUE "FileVersion", OPENRA2_VERSION
            VALUE "InternalName", "openra2"
            VALUE "LegalCopyright", COPYRIGHT
            VALUE "ProductName", "OpenRA2"
            VALUE "ProductVersion", OPENRA2_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 0x4B0
    END
END

